/* nav Index*/
body {
    background-color: rgb(147, 184, 147);
    font-family: 'Courier New', Courier, monospace;
}

.logo {
    display: flex;
    justify-self: center;
    align-self: center;
}

.navegacion {
    display : flex; 
    gap: 30px;
    justify-content: center;
    align-content: center;
    justify-self: center;
    width: 900px;
    margin-top: 20px;
    border: 1px solid rgb(117, 90, 95);
    padding: 4px;
}

.navegacion a{
    text-decoration: none;
    color : black;
    font-size: larger;
}

.navegacion a:hover{
    color: rgb(68, 61, 26);
}

/* Maquetación Index */

#GridIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 300px;
    grid-template-rows: 200px 1fr 250px;
    grid-template-areas: 
    "Header Header Header"
    "Main Main Aside"
    "Footer Footer Footer";
    max-width: 1200px;
    align-self: center;
    justify-self: center;
    
}

#HeaderIndex {
    grid-area: Header;
    border-bottom: 1px solid rgb(39, 37, 23);
    padding: 10px;
}

#MainIndex {
    grid-area: Main;
    padding : 10px;
    margin-top: 20px;
}

#AsideIndex {
    grid-area: Aside;
    padding: 10px;
    margin-top: 20px;
}

#FooterIndex {
    grid-area: Footer;
    background-color: rgb(15, 15, 15);
}

/* Main Index */

.SectionImagen img {
    width: 800px;
    height: auto;
    display: flex;
    justify-self: center;
}

.QuienesSomos h1{
    display:flex;
    justify-self: center;
    margin-top: 50px;
}

.QuienesSomos p{
  
    text-align: center;
}